footer .footer .footer2 p {
  text-align: center;
  text-transform: capitalize; }

main .GetInvolved-bg .GetInvolved .button .my-button, footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b .info-form form .my-button, footer .footer .footer1 .social-media .modal-windows .modal_cont .my-button, footer .footer .footer1 .button .my-button {
  background: #E31E24;
  border-radius: 10px;
  padding: 15px 40px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.05em; }

main .GetInvolved-bg {
  background: #F5F4F4; }
  main .GetInvolved-bg .GetInvolved {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto; }
    main .GetInvolved-bg .GetInvolved h2 {
      font-size: 48px;
      font-weight: 700;
      line-height: 57px;
      color: #E31E24; }
    main .GetInvolved-bg .GetInvolved p {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      padding: 0;
      margin: 0; }
    main .GetInvolved-bg .GetInvolved .button .my-button {
      transform: translatex(-50%);
      position: relative;
      left: 50%;
      margin: 60px 0 0;
      box-shadow: 0 4px 19px #F5999C;
      display: inline-block;
      color: white;
      text-decoration: none; }

footer .footer .footer2 p {
  text-align: center;
  text-transform: capitalize; }

main .GetInvolved-bg .GetInvolved .button .my-button, footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b .info-form form .my-button, footer .footer .footer1 .social-media .modal-windows .modal_cont .my-button, footer .footer .footer1 .button .my-button {
  background: #E31E24;
  border-radius: 10px;
  padding: 15px 40px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.05em; }

main .GetInvolved-bg {
  background: #F5F4F4; }
  main .GetInvolved-bg .GetInvolved {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto; }
    main .GetInvolved-bg .GetInvolved h2 {
      font-size: 48px;
      font-weight: 700;
      line-height: 57px;
      color: #E31E24; }
    main .GetInvolved-bg .GetInvolved p {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      padding: 0;
      margin: 0; }
    main .GetInvolved-bg .GetInvolved .button .my-button {
      transform: translatex(-50%);
      position: relative;
      left: 50%;
      margin: 60px 0 0;
      box-shadow: 0 4px 19px #F5999C;
      display: inline-block;
      color: white;
      text-decoration: none; }

header {
  background-color: #FBFBFB; }
  header .left-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap; }
    header .left-part .established span {
      display: inline-block;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      color: #000000;
      width: 170px; }
  header .header-navigate {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
    header .header-navigate .menu .nav-col {
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      color: black;
      text-transform: capitalize; }
    header .header-navigate .menu .nav-col:hover {
      color: #767676; }

@media (min-width: 577px) {
  header .logo img {
    Width: 267px;
    Height: 70px; } }
@media (min-width: 993px) {
  header .header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .header .menu {
      display: flex;
      flex-direction: row; }
      header .header .menu li {
        padding-right: 30px; }
        header .header .menu li a {
          font-size: 16px;
          font-weight: 700;
          line-height: 19px;
          color: #000000; }
      header .header .menu li:last-child {
        padding-right: 0; }
  header .modal-menu {
    display: none; } }
@media (max-width: 992px) {
  header .head {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .head .header {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .head .header .menu {
        display: none; }
    header .head .modal-menu-body {
      background-color: rgba(39, 59, 115, 0.98);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      text-align: center; }
      header .head .modal-menu-body .button_close {
        position: absolute;
        right: 20px;
        top: 20px; }
      header .head .modal-menu-body .menu_ul {
        padding-left: 0; }
        header .head .modal-menu-body .menu_ul li {
          padding-bottom: 10px; }
          header .head .modal-menu-body .menu_ul li a {
            color: white; } }
@media (max-width: 576px) {
  header .left-part {
    flex-wrap: nowrap;
    justify-content: flex-start; }
    header .left-part .logo img {
      Width: 134px;
      Height: 35px; }
    header .left-part .established span {
      font-size: 8px;
      font-weight: 400;
      line-height: 9px;
      color: #000000;
      width: 109px;
      height: 30px; } }
footer .footer .footer2 p {
  text-align: center;
  text-transform: capitalize; }

main .GetInvolved-bg .GetInvolved .button .my-button, footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b .info-form form .my-button, footer .footer .footer1 .social-media .modal-windows .modal_cont .my-button, footer .footer .footer1 .button .my-button {
  background: #E31E24;
  border-radius: 10px;
  padding: 15px 40px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.05em; }

main .GetInvolved-bg {
  background: #F5F4F4; }
  main .GetInvolved-bg .GetInvolved {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto; }
    main .GetInvolved-bg .GetInvolved h2 {
      font-size: 48px;
      font-weight: 700;
      line-height: 57px;
      color: #E31E24; }
    main .GetInvolved-bg .GetInvolved p {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      padding: 0;
      margin: 0; }
    main .GetInvolved-bg .GetInvolved .button .my-button {
      transform: translatex(-50%);
      position: relative;
      left: 50%;
      margin: 60px 0 0;
      box-shadow: 0 4px 19px #F5999C;
      display: inline-block;
      color: white;
      text-decoration: none; }

@media (min-width: 993px) {
  main .main {
    margin: 180px 0 50px; }
    main .main .main-contact-info {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px; }
  main .GetInvolved {
    padding: 80px 0; } }
@media (max-width: 992px) {
  main {
    margin-top: 140px; }
    main .main {
      margin-bottom: 30px; }
    main .GetInvolved {
      padding: 40px 30px; } }
@media (max-width: 768px) {
  main {
    margin-top: 120px; }
    main .main {
      margin-bottom: 30px; }
    main .GetInvolved {
      padding: 40px 30px; } }
@media (max-width: 576px) {
  main {
    margin-top: 140px; }
    main .main {
      margin-bottom: 30px; }
      main .main .main-contact-info h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px; }
    main .GetInvolved {
      padding: 40px 30px; } }
footer .footer .footer2 p {
  text-align: center;
  text-transform: capitalize; }

main .GetInvolved-bg .GetInvolved .button .my-button, footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b .info-form form .my-button, footer .footer .footer1 .social-media .modal-windows .modal_cont .my-button, footer .footer .footer1 .button .my-button {
  background: #E31E24;
  border-radius: 10px;
  padding: 15px 40px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.05em; }

main .GetInvolved-bg {
  background: #F5F4F4; }
  main .GetInvolved-bg .GetInvolved {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto; }
    main .GetInvolved-bg .GetInvolved h2 {
      font-size: 48px;
      font-weight: 700;
      line-height: 57px;
      color: #E31E24; }
    main .GetInvolved-bg .GetInvolved p {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      padding: 0;
      margin: 0; }
    main .GetInvolved-bg .GetInvolved .button .my-button {
      transform: translatex(-50%);
      position: relative;
      left: 50%;
      margin: 60px 0 0;
      box-shadow: 0 4px 19px #F5999C;
      display: inline-block;
      color: white;
      text-decoration: none; }

footer .footer {
  background-color: black; }
  footer .footer .footer1 {
    display: flex;
    flex-wrap: wrap; }
    footer .footer .footer1 .establish-info {
      width: 200px; }
      footer .footer .footer1 .establish-info p {
        margin-top: 20px;
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        color: #fff; }
    footer .footer .footer1 .navigate {
      display: inline-flex;
      flex-wrap: wrap; }
      footer .footer .footer1 .navigate .footer-navigate1 ul li {
        padding: 5px 5px 0; }
        footer .footer .footer1 .navigate .footer-navigate1 ul li a {
          font-size: 18px;
          font-weight: 700;
          line-height: 37px;
          color: #fff;
          text-transform: capitalize; }
      footer .footer .footer1 .navigate .footer-navigate2 ul li {
        padding: 5px 5px 0; }
        footer .footer .footer1 .navigate .footer-navigate2 ul li a {
          font-size: 18px;
          font-weight: 700;
          line-height: 37px;
          color: #fff;
          text-transform: capitalize; }
    footer .footer .footer1 .social-media {
      display: inline-block;
      float: right; }
      footer .footer .footer1 .social-media h5 {
        font-size: 18px;
        font-weight: 400;
        line-height: 37px;
        color: #fff; }
      footer .footer .footer1 .social-media .modal-windows .modal_cont {
        padding: 50px 0; }
        footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center; }
          footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b .button_close {
            position: absolute;
            right: 20px;
            top: -20px; }
          footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b h1 {
            font-size: 48px;
            font-weight: 700;
            line-height: 57px;
            color: #E31E24;
            padding-bottom: 20px; }
          footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b p {
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-transform: capitalize; }
          footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b .info-form {
            padding-top: 40px; }
            footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b .info-form form .input input {
              margin-bottom: 5px;
              width: 100%;
              padding: 16px 0 16px 30px;
              border-radius: 10px;
              font-size: 16px;
              font-weight: 700;
              line-height: 19px;
              color: #000000;
              letter-spacing: 0.05em; }
            footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b .info-form form .input input[placeholder="Your phone"] {
              color: black; }
            footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b .info-form form textarea {
              font-size: 16px;
              font-weight: 700;
              line-height: 19px;
              color: #000000;
              letter-spacing: 0.05em;
              padding: 16px 80px 135px 30px;
              border-radius: 10px; }
            footer .footer .footer1 .social-media .modal-windows .modal_cont .modal_b .info-form form .my-button {
              margin: 30px 0 0;
              padding: 15px 70px;
              box-shadow: 0 4px 19px #F5999C; }
        footer .footer .footer1 .social-media .modal-windows .modal_cont .my-button {
          margin: 30px 0 0;
          padding: 15px 70px;
          box-shadow: 0 4px 19px #F5999C; }
    footer .footer .footer1 .button .my-button {
      display: inline-block; }
    footer .footer .footer1 .button .my-button:focus {
      border: none;
      box-shadow: none; }
  footer .footer .footer2 {
    display: flex;
    flex-wrap: wrap; }
    footer .footer .footer2 p {
      padding: 0 30px;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #fff; }
    footer .footer .footer2 a {
      padding-right: 10px;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: #fff; }

@media (min-width: 768px) {
  footer .footer1 {
    padding: 45px 0 45px 30px;
    justify-content: flex-start; }
    footer .footer1 .establish-info {
      margin-right: 120px; }
      footer .footer1 .establish-info img {
        Width: 214px;
        Height: 89px; }
    footer .footer1 .footer-navigate1 {
      padding: 0 120px 0 0; }
      footer .footer1 .footer-navigate1 ul {
        padding: 0;
        margin: 0; }
    footer .footer1 .footer-navigate2 {
      padding: 0 120px 0 0; }
    footer .footer1 .button .my-button {
      margin-top: 50px; }
  footer .footer2 {
    align-items: baseline; } }
@media (max-width: 790px) {
  footer .footer1 {
    padding: 30px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .footer1 .establish-info {
      margin-right: 30px; }
    footer .footer1 .footer-navigate1 {
      padding: 0; }
      footer .footer1 .footer-navigate1 ul {
        padding: 0;
        margin: 0; }
    footer .footer1 .footer-navigate2 {
      padding: 0; }
      footer .footer1 .footer-navigate2 ul {
        padding: 0;
        margin: 0; }
    footer .footer1 .social-media {
      text-align: center;
      padding: 20px; }
      footer .footer1 .social-media .button .my-button {
        margin-top: 30px; }
    footer .footer1 .footer-inf {
      flex-direction: column-reverse;
      display: flex; }
      footer .footer1 .footer-inf .navigate {
        padding-top: 30px;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center; }
  footer .footer2 {
    align-items: baseline; } }
@media (max-width: 576px) {
  footer .footer1 .establish-info {
    margin-right: 10px;
    text-align: center; }
    footer .footer1 .establish-info p {
      text-align: center; }
    footer .footer1 .establish-info img {
      width: 153px;
      height: 64px; }
  footer .footer1 .footer-inf {
    display: flex;
    flex-direction: column-reverse; }
    footer .footer1 .footer-inf .navigate {
      padding-top: 30px;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      footer .footer1 .footer-inf .navigate .footer-navigate1 {
        padding: 0; }
      footer .footer1 .footer-inf .navigate .footer-navigate2 {
        padding: 0; }
  footer .footer1 .button .my-button {
    margin-top: 30px; }
  footer .footer2 {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center; }
    footer .footer2 div:first-of-type {
      padding: 20px 0; } }
main .container {
  max-width: 992px; }
  main .container .main .info a {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #1027FB;
    letter-spacing: .05em;
    text-transform: uppercase; }
  main .container .main .info span {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: .05em;
    text-transform: capitalize; }
  main .container .main h1 {
    margin: 30px 0 0 0;
    font-size: calc( (100vw - 370px)/(1440 - 370) * (64 - 36) + 36px);
    font-weight: 700;
    color: #000000;
    letter-spacing: .05em;
    text-transform: capitalize; }
  main .container .contact-info {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 50px; }
    main .container .contact-info .contact-info-block {
      width: 50%;
      padding-right: 10px; }
      main .container .contact-info .contact-info-block h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        color: #E31E24; }
      main .container .contact-info .contact-info-block p {
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        margin: 0; }
        main .container .contact-info .contact-info-block p a {
          font-size: 18px;
          font-weight: 700;
          line-height: 27px;
          color: #1027FB;
          text-decoration-line: underline;
          text-transform: lowercase; }
    main .container .contact-info .contact-info-block1 h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      color: #E31E24; }
    main .container .contact-info .contact-info-block1 p {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      margin: 0; }
      main .container .contact-info .contact-info-block1 p a {
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        color: #1027FB;
        text-decoration-line: underline;
        text-transform: lowercase; }
  main .container .main-contact-info {
    padding-bottom: 50px; }

/*# sourceMappingURL=ContactUs.css.map */
