@import "../common/index";
@media (min-width: 993px) {
  main {
    .main {
      margin: 180px 0 50px;
      .main-contact-info {
        @include lhFont(24px, 700, 36px);
      }
    }
    .GetInvolved {
      padding: 80px 0;
    }
  }
}

@media (max-width: 992px) {
  main {
    margin-top: 140px;
    .main{
      margin-bottom: 30px;
    }
    .GetInvolved {
      padding: 40px 30px;
    }
  }
}

@media (max-width: 768px) {
  main {
    margin-top: 120px;
    .main{
      margin-bottom: 30px;
    }
    .GetInvolved {
      padding: 40px 30px;
    }
  }
}

@media (max-width: 576px) {
  main {
    margin-top: 140px;
    .main {
      margin-bottom: 30px;
      .main-contact-info{
        h3 {
          @include lhFont(20px, 700, 30px);
        }
      }
    }
    .GetInvolved {
      padding: 40px 30px;
    }
  }
}