@mixin font($size, $weight){
  font-size: $size;
  font-weight: $weight;
}
@mixin colorFont($size, $color, $weight){
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
@mixin lhFont($size, $weight, $lineHeight){
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}
@mixin lhColorFont($size, $weight, $lineHeight, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  color: $color;
}
@mixin flex($justify-content, $align-items){
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

// width: calc( (100vw - 370)/(1440 - 370) * (267px - 134px) + 134px);

@mixin h1-flexible($color) {
  font-size: calc( (100vw - 370px)/(1440 - 370) * (64 - 36) + 36px);
  font-weight: 700;
  color: $color;
}
@mixin h-info-flexible($color) {
  font-size: calc((100vw - 370px) / (1440 - 370) * (24 - 20) + 20px);
  font-weight: 700;
  line-height: 30px;
  color: $color;
}
@mixin h1($color){
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  color: $color;
}

@mixin h1-media($color){
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  color: $color;
}
@mixin h-info($color){
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: $color;
}

@mixin h-info-media($color){
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: $color;
}