@import "../common/index";
footer{
  .footer {
    background-color: black;

    .footer1 {
      display: flex;
      flex-wrap: wrap;
      .establish-info {
        width: 200px;

        p {
          margin-top: 20px;
          @include lhColorFont(12px, 700, 12px, #fff);
        }
      }

      .navigate {
        display: inline-flex;
        flex-wrap: wrap;

        .footer-navigate1 {
          ul {
            li {
              padding: 5px 5px 0;
              a {
                @include lhColorFont(18px, 700, 37px, #fff);
                text-transform: capitalize;
              }
            }
          }
        }

        .footer-navigate2 {
          ul {
            li {
              padding: 5px 5px 0;
              a {
                @include lhColorFont(18px, 700, 37px, #fff);
                text-transform: capitalize;
              }
            }
          }
        }
      }
      .social-media {
          display: inline-block;
          float: right;
        h5 {
          @include lhColorFont(18px, 400, 37px, #fff);
        }

          .modal-windows {
            .modal_cont {
              padding: 50px 0;
              .modal_b {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;

                .button_close {
                  position: absolute;
                  right: 20px;
                  top: -20px;
                }

                h1 {
                  @include lhColorFont(48px, 700, 57px, #E31E24);
                  padding-bottom: 20px ;
                }

                p {
                  @include lhFont(18px, 400, 27px);
                  text-transform: capitalize;
                }

                .info-form {
                  padding-top: 40px;
                  form {
                    .input {
                      input{
                        margin-bottom: 5px;
                        width: 100%;
                        padding: 16px 0 16px 30px;
                        border-radius: 10px;
                        @include lhColorFont(16px, 700, 19px, #000000);
                        letter-spacing: 0.05em;
                      }
                      input[placeholder="Your phone"]{
                        color: black;
                      }
                    }

                    textarea {
                      @include lhColorFont(16px, 700, 19px, #000000);
                      letter-spacing: 0.05em;
                      padding: 16px 80px 135px 30px;
                      border-radius: 10px;
                    }

                    .my-button {
                      @extend %my-button;
                      margin: 30px 0 0;
                      padding: 15px 70px;
                      box-shadow: 0 4px 19px #F5999C;
                      -webkit-appearance: button-bevel;
                      -moz-appearance: button;
                      appearance: auto;
                    }
                  }
                }
              }
              .my-button {
                @extend %my-button;
                margin: 30px 0 0;
                padding: 15px 70px;
                box-shadow: 0 4px 19px #F5999C;
                -webkit-appearance: button-bevel;
                -moz-appearance: button;
                appearance: auto;
              }
            }
          }

      }

      .button {
        .my-button {
          @extend %my-button;
          display: inline-block;
        }
        .my-button:focus{
          border: none ;
          box-shadow: none;
        }
      }
    }
    .footer2 {
      display: flex;
      flex-wrap: wrap;
      p{
        padding: 0 30px;
        @include lhColorFont(14px, 400, 21px, #fff);
        @extend %align-capitalize;
      }
      a{
        padding-right: 10px;
        @include lhColorFont(14px, 400, 21px, #fff);
      }
    }
  }
}