@media (min-width: 768px) {
  footer{
    .footer1{
      padding: 45px 0 45px 30px;
      justify-content: flex-start;
      .establish-info{
        margin-right: 120px;
        img {
          Width: 214px;
          Height: 89px;
        }
      }
      .footer-navigate1{

        padding: 0 120px 0 0;
        ul{
          padding: 0;
          margin: 0;
        }
      }
      .footer-navigate2{
        padding: 0 120px 0 0;
      }
      .button{
        .my-button{
          margin-top: 50px;
        }
      }
    }
    .footer2{
      align-items: baseline;
    }
  }
}
@media (max-width: 790px) {
  footer{
      .footer1 {
        padding: 30px 30px;
        @include flex(space-around, center);

        .establish-info {
          margin-right: 30px;
        }

        .footer-navigate1 {
          padding: 0 ;

          ul {
            padding: 0;
            margin: 0;
          }
        }

        .footer-navigate2 {
          padding: 0;

          ul {
            padding: 0;
            margin: 0;
          }
        }

        .social-media {
          text-align: center;
          padding: 20px;

          .button {
            .my-button {
              margin-top: 30px;
            }
          }
        }

        .footer-inf {
          flex-direction: column-reverse;
          display: flex;
          .navigate {
            padding-top: 30px;
            display: inline-flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            text-align: center;
          }
        }
      }
    .footer2{
      align-items: baseline;
    }
    }
  }
@media (max-width: 576px) {
  footer {
    .footer1 {
      .establish-info {
        margin-right: 10px;
        text-align: center;
        p{
          text-align: center;
        }
        img{
          width: 153px;
          height: 64px;
        }
      }

      .footer-inf {
        display: flex;
        flex-direction: column-reverse;

        .navigate {
          padding-top: 30px;
          flex-direction: column;
          align-items: center;
          text-align: center;

          .footer-navigate1 {
            padding: 0;
          }

          .footer-navigate2 {
            padding: 0;
          }
        }
      }
      .button{
      .my-button {
        margin-top: 30px;
      }
      }
    }

    .footer2 {
      justify-content: center;
      flex-direction: column-reverse;
      align-items: center;
      div:first-of-type{
        padding: 20px 0;
      }
    }
  }
}