@media (min-width: 577px) {
  header {
        .logo {
          img {
            Width: 267px;
            Height: 70px;
          }
        }
      }
}

@media (max-width: 576px) {
  header {
      .left-part {
        flex-wrap: nowrap;
        justify-content: flex-start;

        .logo {
          img {
            Width: 134px;
            Height: 35px;
          }
        }

        .established {
          span {
            @include lhColorFont(8px, 400, 9px, #000000);
            width: 109px;
            height: 30px;
          }
        }
      }
    }
}
