@import "../common/index";

@media (min-width: 768px) {
  main {
    .HelpForLife {
      margin-top: 35px;

      .sliders {
        height: 100vh;
        .tittle {
          top: 40%;
          padding: 0 0 0 70px;

          h1, h2 {
            padding: 0;
          }

          p {
            @include lhColorFont(24px, 400, 28px, #fff);
            padding: 5px 0;
          }
        }
      }
    }

    .WhatWeDo {
      margin-top: 30px;
      .WhatWeDo-info {
        width: 60%;
        padding: 30px 0;
      }
    }

    .GetInvolved {
      padding: 80px 0;
    }

    .statistic {
      padding-top: 100px;
    }

    .mission {
      .mission-info {
        width: 60%;

        .mission-statistic {
          margin-top: 60px;
        }
      }
      .button{
        .my-button{
          margin: 90px 0 150px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  main {
    .HelpForLife {
      .sliders {
        height: 80vh;
        .tittle {
          padding: 0;
          width: 100%;
          text-align: center;
          bottom: 50%;
          transform: translateY(50%);
          p {
            @include lhColorFont(24px, 400, 28px, #fff);
            padding: 0;
          }
        }
      }
    }

    .GetInvolved {
      padding: 80px 0;
    }

    .mission {
      padding-top: 50px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../../images/image2.1.png");
      background-color: rgba(26, 24, 24, 0.5);
      background-blend-mode: multiply;
      margin-top: 30px;
    }
  }
}
@media (max-width: 767px) {
  main {
    .HelpForLife {
      margin-top: 95px;
      .sliders {
        height: 60vh;
        .tittle {
          p {
            @include lhColorFont(24px, 400, 28px, #fff);
          }
        }
      }
    }
        .WhatWeDo {
          margin-top: 30px;
          .WhatWeDo-info {
            width: 85%;
            padding: 30px 0;
          }
        }

        .statistic {
          padding-top: 45px;
        }

        .mission {
          .mission-info {
            text-align: center;
            //p {
            //  width: 85%;
            //}
          }
          .button {
            .my-button {
              margin: 60px 0 90px;
            }
          }
        }

        .GetInvolved {
          padding: 80px 0;
        }
      }
    }
@media (max-width: 576px) {
  main {
    .HelpForLife {
      margin-top: 60px;

      .sliders {
        height: 40vh;

        .tittle {
          padding-bottom: 15px;
          margin: 0 auto;
          text-align: center;
          h1{
            margin: 0;
          }
          .button{
            padding: 7px 0 0;
          }
        }
      }
    }

    .WhatWeDo {
      margin-top: 20px;
      h2 {
        @include lhColorFont(30px, 700, 36px, #E31E24);
      }

      .WhatWeDo-info {
        width: 90%;
        padding: 20px 0;
      }
    }

    .mission {
      .mission-info {
        width: 90%;

        h2 {
          @include lhColorFont(30px, 700, 30px, #fff);
          text-align: center;
        }

        p {
          @include lhColorFont(20px, 700, 30px, #fff);
          letter-spacing: 0.05em;
          margin: 0 auto;
          padding: 30px 0 0;
        }
      }

      .mission-statistic {
        margin-top: 30px;
        @include flex(space-evenly, flex-start);
        flex-wrap: wrap;

        div {
          padding: 0 30px;

          h4 {
            @include lhColorFont(36px, 700, 43px, #fff);
          }
        }
      }

      .button {
        .my-button {
          margin: 40px 0 70px;
        }
      }

      .GetInvolved {
        padding: 80px 0;
      }
    }
  }
}